/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Comic sans-serif, cursive, sans-serif;
    background-color: ivory;
    color: #111;
}*/
h2 {
    text-align: center;
    margin: 1.25rem 0 0.25rem 0;
}
.chart-container{
    /*position: relative;
    position: initial;
    text-align: center;*/
    width: 45vw;
    height: 22.5vw;
    margin: auto;
}
canvas{
    border: 3px solid blue;
}